<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwh.dao.user.UserMapper">
	<!-- 自定义映射 -->
	<resultMap type="User" id="userList">
			<result property="id" column="id" />
			<result property="userCode" column="userCode" />
			<result property="userName" column="userName" />
			<result property="phone" column="phone" />
			<result property="birthday" column="birthday" />
			<result property="gender" column="gender" />
			<result property="userRole" column="userRole" />
			<result property="address" column="address" />
			<result property="userRoleName" column="roleName" />
	</resultMap>
	<!-- 查询用户列表 -->
	<select id="getUserList" resultMap="userList" parameterType="User">
		SELECT u.*,r.`roleName` FROM `smbms_user` u,`smbms_role` r
		WHERE u.`userRole`=r.id and u.`userName` LIKE CONCAT ('%',#{userName},'%')
			and u.`userRole`=#{userRole} 
	</select>
	
	<!-- 新增用户 -->
	<insert id="add" parameterType="User">
		INSERT INTO `smbms_user`
		(`userCode`,`userName`,`userPassword`,`gender`,`birthday`,`phone`,`address`,`userRole`,`createdBy`,`creationDate`)
		VALUES
		(#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate})
	</insert>
</mapper>